#time-based-style {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#time-display {
    font-size: 2rem;
}

.aurore {
    background-color: orange;
}

.matin {
    background-color: lightblue;
}

.apres-midi {   
    background-color: cyan;
}

.soiree {
    background-color:coral;
}

.nuit {
    background-color: darkblue;
}

